/*--------------
   CONTAINERS
--------------*/ 

.container{
   width: 100%;
}

.container-md{
   width: 75%;
   margin: auto;
}

.container-sm{
   width: 50%;
   margin: auto;
}

.container-xs{
   width: 35%;
   margin: auto;
}